.card-1 {
  border-top: 5px solid #ff4f64;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
}

/* Write CSS code here. */
.img {
  height: 200px;
  width: 200px;
}
.card-Details {
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
